form#top-bar
  input#main-input(type='text', autofocus)
  #main-score
    span.fa.fa-star
    =' '
    span.amount
  button#main-submit.fa.fa-play(type='submit')
#game-main
  ol#main-list
  #footer
    a#attribution(href='http://aideen.pw', target='_blank') aideen.pw
